---
layout: clyde
title: Clyde
---

<table class="body">
  <%= partial "partials/components/spacer", locals: { height: 40 } %>
  <tr>
    <td class="center" align="center" valign="top">
      <%= partial "partials/pages/clyde/modules/header" %>
      <%= partial "partials/pages/clyde/modules/hero" %>
      <%= partial "partials/components/hr" %>
      <%= partial "partials/pages/clyde/modules/cta" %>
      <%= partial "partials/pages/clyde/modules/social" %>
    </td>
  </tr>
  <%= partial "partials/components/spacer", locals: { height: 40 } %>
</table>
